*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app{
  min-height: 100vh;
}

.heading{
  margin: auto;
  padding: 30px;
  font-family: "Quicksand" , cursive;
  font-weight: 700;
  font-size: 2rem;
  color:rgb(153, 71, 236);
  padding: 4px;
  width: 0ch;
  overflow: hidden;
  white-space: nowrap;
  animation: text 4s steps(15) infinite alternate;
}
@keyframes text {
  0%{
    width: 0ch;
  }
  50%{
    width: 18ch;
    color: #f31010;
  }
}