*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app{
  padding: 30px;
  min-height: 100vh;
  width: 60vw;
  margin: 0 auto;
}

.search-row{
  padding: 15px 10px;
}

.search-button{
  width: 50%;
  background-color: #7FFF00;
  padding: 9px 7px;
  text-align: center;
  border: none;
  border-radius: 3px;
}
.input-field{
  width: 50%;
  padding: 6px 6px;
  border-radius: 3px;
}

.heading{
  padding: 30px;
  font-family: "Quicksand";
  font-weight: 700;
  font-size: 2rem;
  color:rgb(153, 71, 236);
  padding: 4px;
  width: 0ch;
  overflow: hidden;
  white-space: nowrap;
  animation: text 4s steps(15) infinite alternate;
}
@keyframes text {
  0%{
    width: 0ch;
  }
  50%{
    width: 18ch;
    color: #f31010;
  }
}

.secondary-heading{
  font-size: 1.4rem ;
  font-weight: 600;
  animation: none;
  width: auto;
}